//Color
$color-black-0:#000000;
$color-black-1:#212529;

$color-white-0:#ffffff;
$color-white-1:#f4f4f4;
$color-white-2:#e9ecef;
$color-white-3:#f3f6fb;

$color-gray-0:#6c757d;
$color-gray-1:#555555;
$color-gray-2:#e7e7e7;
$color-gray-3:#444444;
$color-gray-4:#b8b2b2;
$color-gray-5:#4d4d4d;
$color-gray-6:#555;
$color-gray-7:#4e4e4e;

$color-dark-0:#122231;
$color-dark-1:#0d084d;
$color-dark-2:#263238;

$color-green-0:#1dbf73;
$color-green-1:#023a15;
$color-green-2:#02c2a9;
$color-green-3:#003912;
$color-green-4:#648b79;
$color-green-5: #35b530;

$color-pink-0:#ff62ad;

$color-red-0:#cd1818;
$color-red-1:#cb1c22;
$color-red-2:#cc1c21;
$color-red-3:#ec0909;
$color-red-4:#ee1212;
$color-red-5:#de2222;

$color-blue-0:#1876f4;

//Color PC
$color-black-0-pc: #000000;
$color-black-1-pc: #212529;

$color-white-0-pc: #ffffff;
$color-white-1-pc: #f7f7f7;
$color-white-2-pc: #f8f8f8;
$color-white-3-pc: #f1f1f1;
$color-white-4-pc: #fafafa;
$color-white-5-pc: #f7f4f0;
$color-white-6-pc: #ffffffcc;

$color-gray-0-pc: #4d4d4d;
$color-gray-1-pc: #999999;
$color-gray-2-pc: #cccccc;
$color-gray-3-pc: #eee;
$color-gray-4-pc: #d6d6d6;

$color-dark-0-pc: #122231;
$color-dark-1-pc: #0d084d;
$color-dark-2-pc: #263238;
$color-dark-3-pc: #333333;
$color-dark-4-pc: #302f34;
$color-dark-5-pc: #495057;
$color-dark-6-pc: #373737;

$color-green-0-pc: #009933;
$color-green-1-pc: #66cc99;
$color-green-2-pc: #02c2a9;
$color-green-3-pc: #003912;
$color-green-4-pc: #19a463;
$color-green-5-pc: #daf2d8;
$color-green-6-pc: #048f4b;

$color-purple-0-pc: #af18dd;

$color-pink-0-pc: #f55992;

$color-red-0-pc: #d62727;
$color-red-1-pc: #ff0000;
$color-red-2-pc: #d72828cc;
$color-red-3-pc: #e43736;

$color-yellow-0-pc: #ffd700;
$color-yellow-1-pc: #f4d449;

$color-blue-0-pc: #42617f;

//font-size
$fs-0:8px;
$fs-1:10px;
$fs-2:12px;
$fs-3:15px;
$fs-4:20px;
$fs-5:24px;
$fs-6:30px;
$fs-7:36px;
$fs-8:42px;
$fs-9:50px;
$fs-10:76px;
$fs-11:84px;
$fs-12:108px;
$fs-13:2vw;
//font-weight

$fw-0:normal;
$fw-1:600;
$fw-2:700;
$fw-3:900;

//line-height
$line-height-0:20px;
$line-height-1:50px;

//margin
$mg-0:5px;
$mg-1:10px;
$mg-2:16px;
$mg-3:24px;
$mg-4:32px;
$mg-5:40px;
$mg-6:52px;
$mg-7:64px;
$mg-8:76px;
$mg-9:90px;

//padding
$pd-0:5px;
$pd-1:10px;
$pd-2:16px;
$pd-3:24px;
$pd-4:32px;
$pd-5:40px;
$pd-6:52px;
$pd-7:64px;
$pd-8:76px;
$pd-9:90px;
$pd-10:1vw;

// width
$whpx-1: 10px;
$whpx-2: 30px;
$whpx-3: 50px;
$whpx-4: 70px;
$whpx-5: 80px;
$whpx-6: 100px;
$whpx-7: 120px;
$whpx-8: 150px;
$whpx-9: 270px;
$wh-0:20%;
$wh-1:25%;
$wh-2:30%;
$wh-3:35%;
$wh-4:40%;
$wh-5:45%;
$wh-6:50%;
$wh-7:55%;
$wh-8:60%;
$wh-9:70%;
$wh-10:80%;
$wh-11:90%;
$wh-12:100%;

// height
$hg-0:20px;
$hg-2:40px;
$hg-1:30px;
$hg-3:50px;
$hg-4:60px;
$hg-5:70px;
$hg-6:90px;
$hg-7:100px;
$hg-8:120px;
$hg-9:150px;
$hg-10:680px;

//border-radius
$border-radius-0:1px;
$border-radius-1:3px;
$border-radius-2:5px;
$border-radius-3:9px;

// view width
$vw1: 1vw;
$vw2: 2vw;
$vw3: 3vw;
$vw4: 4vw;
$vw5: 5vw;
$vw6: 6vw;
$vw7: 7vw;
$vw8: 8vw;
$vw9: 9vw;
$vw10: 10vw;
$vw11: 11vw;
$vw12: 12vw;
$vw13: 13vw;
$vw14: 14vw;
$vw15: 15vw;
$vw16: 16vw;
$vw17: 17vw;
$vw18: 18vw;
$vw19: 19vw;
$vw20: 20vw;

